/* admin */
.admin-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.admin-form input {
  padding: 6px;
  border: 1px solid #888;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.admin-table th,
.admin-table td {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 14px;
}
