/* =====================================
   RESET (Original Style)
===================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ul, li,
fieldset, form, label, input, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

html { height:100%; }

body {
  font:12px/1.3 Arial, Helvetica, sans-serif;
  line-height:1;
  width:960px;
  margin:0 auto;
  position:relative;
}

ol, ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }

/* =====================================
   BUTTON
===================================== */

button {
  width:200px;
  background-color:#3c79c1;
  color:#fff;
  text-align:center;
  padding:3px;
  border-radius:5px;
  cursor:pointer;
}

/* =====================================
   HEADER
===================================== */

#header-wrapper {
  overflow:hidden;
  background:url("/Images/head-backgr.png") no-repeat 50% 100%;
  height:166px;
  display:block;
  margin:0 0 18px;
}

#header-emblem {
  overflow:hidden;
  width:640px;
  height:131px;
  float:left;
}

#header-title {
  position:relative;
  display:block;
  overflow:hidden;
  background:url("/Images/national-emblem.gif") no-repeat 30px 28px;
  padding:42px 0 0 89px;
  height:53px;
  cursor:pointer;
  font-family:Arial;
  font-size:14px;
  width:545px;
}

#header-title span {
  position:absolute;
  display:block;
  width:440px;
  height:53px;
  top:32px;
  left:89px;
  padding-top:10px;
  color:#fff;
}

#header-right {
  overflow:hidden;
  width:300px;
  padding:14px 0 0 0;
  border-bottom:1px solid #fff;
  font-family:Verdana;
  font-size:larger;
  font-weight:bolder;
  text-align:left;
}

#header-right span {
  color:#fff;
  float:right;
  font-size:xx-large;
  padding-right:50px;
}

/* =====================================
   MENU
===================================== */

#horizontal-menu {
  overflow:hidden;
  clear:both;
  padding:0 0 0 6px;
  background:url("/Images/1x1-nav-bg.gif") repeat-x 0 6px;
  width:960px;
  margin:0 auto;
}

#horizontal-menu li {
  float:left;
  margin:0 4px;
  padding:6px 0 0;
}

#horizontal-menu li a {
  display:block;
  color:#fff;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  text-transform:uppercase;
  line-height:20px;
  padding:2px 14px 8px 14px;
}

/* COLOR BARS (FIXED CORRECT SELECTOR) */

#horizontal-menu li.menu-item-level1.col1 {
  background:url("/Images/golden-bar.gif") repeat-x;
}
#horizontal-menu li.menu-item-level1.col2 {
  background:url("/Images/violet-bar.gif") repeat-x;
}
#horizontal-menu li.menu-item-level1.col3 {
  background:url("/Images/greenlime-bar.gif") repeat-x;
}
#horizontal-menu li.menu-item-level1.col4 {
  background:url("/Images/bluecyan-bar.gif") repeat-x;
}
#horizontal-menu li.menu-item-level1.col5 {
  background:url("/Images/deepred-bar.gif") repeat-x;
}
#horizontal-menu li.menu-item-level1.col6 {
  background:url("/Images/golden-bar.gif") repeat-x;
}

/* =====================================
   LANGUAGE FLAGS
===================================== */

.langRO-passive,
.langEN {
  width:26px;
  height:15px;
  display:inline-block;
}

.langRO-passive {
  background:url("/Images/MLD-passive.png") no-repeat;
}

.langEN {
  background:url("/Images/ENG.png") no-repeat;
}

/* =====================================
   BODY LAYOUT
===================================== */

#body-wrapper {
  height:100%;
  overflow:hidden;
  padding:0 10px;
  margin:0 0 18px;
}

#sidebar {
  overflow:hidden;
  width:200px;
  float:left;
}

#content {
  overflow:hidden;
  padding-left:20px;
}

/* =====================================
   SIDEBAR
===================================== */

.sidebar-item {
  border:1px solid;
  border-left:15px solid #295ea9;
  padding:5px 5px 5px 10px;
  margin:20px 0 0 0;
}

.sidebar-item a {
  margin-top:5px;
  width:98%;
  background-color:#3c79c1;
  color:#fff;
  display:block;
  text-align:center;
  padding:3px;
  border-radius:5px;
  text-decoration:none;
}

/* =====================================
   PANEL
===================================== */
input {
    background-color: #fff;
    border: 1px solid #f79743;
}
.app-panel {
    padding-top: 10px;
    padding-bottom: 10px;
}

.app-left-panel {
  width:550px;
  display:inline-block;
  vertical-align:top;
  border-top:1px solid #ccc;
  font-weight:bold;
}

.app-content-panel {
    display: inline-block;
    background-color: #d6eded;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #b1b1b1;
    border-left: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
}

.content-left {
  width:300px;
  border-right:1px dotted #ccc;
  float:left;
}

.content-right {
  width:250px;
  float:left;
}


.app-content-data {
  display:block;
  padding:5px;
  clear:both;
}

.app-content-data label {
  display:block;
  padding-bottom:5px;
}

.app-panel input[type="text"] {
  border:1px solid #777;
  width:100%;
}

input[type="text"]:focus {
  background-color:#fffecc;
}

.page-title-content {
    font-size: x-large;
    border-bottom: 1px dashed #295ea9;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

/* =====================================
   CAPTCHA (VISUALLY MATCHED)
===================================== */

.captcha-canvas {
  width:220px;
  height:50px;
  display:block;
  border:none;
}

/* =====================================
   FOOTER
===================================== */

#footer-wrapper {
  overflow:hidden;
  background:url("/Images/footer-divider.gif") repeat-x 0 0;
  padding:10px 0;
}

#contact-info {
  overflow:hidden;
  float:right;
  width:480px;
}

#contact-info strong {
  display:block;
  font-family:Tahoma;
  font-weight:normal;
  font-size:11px;
  line-height:18px;
  color:#6e788c;
}

