/* =====================================
   RESET
===================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ul, li,
fieldset, form, label, input, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  font:12px/1.3 Arial, Helvetica, sans-serif;
  width:960px;
  margin:0 auto;
  line-height:1;
}

ol, ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }

/* =====================================
   BUTTON
===================================== */

button {
  width:200px;
  background:#3c79c1;
  color:#fff;
  text-align:center;
  padding:3px;
  border-radius:5px;
  cursor:pointer;
}

/* =====================================
   HEADER
===================================== */

#header-wrapper {
  overflow:hidden;
  background:url("/Images/head-backgr.png") no-repeat 50% 100%;
  height:166px;
  margin-bottom:18px;
}

#header-emblem {
  width:640px;
  height:131px;
  float:left;
}

#header-title {
  position:relative;
  display:block;
  background:url("/Images/national-emblem.gif") no-repeat 30px 28px;
  padding:42px 0 0 89px;
  height:53px;
  width:545px;
  font-size:14px;
  cursor:pointer;
}

#header-title span {
  position:absolute;
  top:32px;
  left:89px;
  width:440px;
  color:#fff;
}

#header-right {
    overflow: hidden;
    width: 300px;
    padding: 14px 0 0 0;
    border-bottom: 1px solid #fff;
    font-family: Verdana;
    font-size: larger;
    font-weight: bolder;
    text-align: left;
}

#header-right span {
  float:right;
  padding-right:50px;
}

/* =====================================
   MENU
===================================== */

#horizontal-menu {
  clear:both;
  padding-left:6px;
  background:url("/Images/1x1-nav-bg.gif") repeat-x 0 6px;
  width:960px;
}

#horizontal-menu li {
  float:left;
  margin:0 4px;
  padding-top:6px;
}

#horizontal-menu li a {
  display:block;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  font-size:12px;
  padding:2px 14px 8px 14px;
}

/* COLOR BARS */

#horizontal-menu li.menu-item-level1.col1 {
  background:url("/Images/deepred-bar.gif") repeat-x;
}
#horizontal-menu li.menu-item-level1.col2 {
  background:url("/Images/golden-bar.gif") repeat-x;
}
#horizontal-menu li.menu-item-level1.col3 {
  background:url("/Images/violet-bar.gif") repeat-x;
}
#horizontal-menu li.menu-item-level1.col4 {
  background:url("/Images/greenlime-bar.gif") repeat-x;
}
#horizontal-menu li.menu-item-level1.col5 {
  background:url("/Images/bluecyan-bar.gif") repeat-x;
}
#horizontal-menu li.menu-item-level1.col6 {
  background:url("/Images/deepred-bar.gif") repeat-x;
}

.langRO-passive {
    background-image: url(../Images/MLD-passive.png);
    width: 26px;
    height: 15px;
    display: inline-block;
}
.langEN {
    background-image: url(../Images/ENG.png);
    width: 26px;
    height: 15px;
    display: inline-block;
}

/* =====================================
   BODY
===================================== */

#body-wrapper {
  overflow:hidden;
  padding:0 10px;
  margin-bottom:18px;
}

#sidebar {
  width:200px;
  float:left;
}

#content {
  overflow:hidden;
  padding-left:20px;
}

/* =====================================
   SIDEBAR
===================================== */

.sidebar-item {
  border:1px solid;
  border-left:15px solid #295ea9;
  padding:5px 5px 5px 10px;
  margin-top:20px;
}

.sidebar-item a {
  margin-top:5px;
  width:98%;
  background:#3c79c1;
  color:#fff;
  display:block;
  text-align:center;
  padding:3px;
  border-radius:5px;
  text-decoration:none;
}

/* =====================================
   PANEL
===================================== */

.app-panel {
  padding:10px 0;
}

.app-left-panel {
  width:550px;
  display:inline-block;
  border-top:1px solid #ccc;
  font-weight:bold;
}

.app-content-panel {
  display:inline-block;
  background:#d6eded;
  border:1px solid #b1b1b1;
  border-top:2px solid #ccc;
}

.content-left {
  width:300px;
  float:left;
  border-right:1px dotted #ccc;
}

.content-right {
  width:250px;
  float:left;
}

.app-content-data {
  padding:5px;
  clear:both;
}

.app-content-data label {
  display:block;
  padding-bottom:5px;
}

.app-panel input[type="text"] {
  width:100%;
  border:1px solid #777;
}

input:focus {
  background:#fffecc;
}

/* =====================================
   FOOTER
===================================== */

#footer-wrapper {
  overflow:hidden;
  background:url("/Images/footer-divider.gif") repeat-x;
  padding:10px 0;
}

#contact-info {
  float:right;
  width:480px;
}

#contact-info strong {
  display:block;
  font-size:11px;
  color:#6e788c;
}